body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}
/* Navbar Page start */
nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  background-color: #333;
  padding: 1rem;
}

nav ul li {
  color: #fff;
  cursor: pointer;
}
/* Navbar Page end */

/* Product page start */

.product {
  border: 1px solid #ddd;
  padding: 1rem;
  margin: 1rem;
  height: 334px;
  width: 220px;
  overflow: hidden;
}

.product img {
  width: 100px;
  height: 100px;
}

.containors {
  display: flex;
  margin: 5px;
  padding: 5px;
}

.containors .children {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}


.children .product p {
  overflow: hidden;
}

.product button {
  padding: 10px;
  font-size: 15px;
  border-radius: 5px;
  font-weight: bolder;
  background-color: aqua;
}
/* Product page end */

/* Cart page start */

.carts{
  border: 1px solid #ddd;
  padding: 1rem;
  margin: 1rem;
  height: 334px;
  width: 220px;
  overflow: hidden;
}

.carts img{
  width: 100px;
  height: 100px;
}

.children .carts p {
  overflow: hidden;
}

.price{
  text-align: center;
  margin-bottom: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.empbtn{
  border-radius: 5px;
  font-weight: bolder;
  background-color: aqua;
}

.quantity-control {
  display: flex;
  align-items: center;
}

.quantity-control button,
.quantity-control input {
  margin: 5px 0;
}

.quantity-control button {
  width: 26px;
  height: 26px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}
.quantity-control button {
  border-radius: 5pc 0 0 5pc;
}
.quantity-control button:last-child{
  border-radius: 0 5pc 5pc 0;
}
.quantity-control input {
  width: 50px;
  text-align: center;
  height: 26px;
  border: 1px solid #007bff;
}
/* Cart Page end */

/* Login page start */
.auth-form-container{
  display: flex;
  justify-self: center;
  align-items: center;
  width: 100vw;
}

.auth-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 2rem auto;
  width: 420px;
  box-shadow: rgba(135, 244, 155, 0.16) 1px 1px 1px 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 30px;
  background-color: #00ff6a;
}

.auth-form-content{
  padding-left: 12%;
  padding-right: 12%;
}

.auth-form--title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34)
}
/* Login page start */