.product-containers {
  border: 1px solid red;
  width: 200px;
  height: 200px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  background-color: #333;
  padding: 1rem;
}

nav ul li {
  color: #fff;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 2rem auto;
}

form input,
form button {
  margin: 0.5rem 0;
  padding: 0.5rem;
}

.product {
  border: 1px solid #ddd;
  padding: 1rem;
  margin: 1rem;
  height: 299px;
  width: 200px;
  overflow: hidden;
}

.product img {
  width: 100px;
  height: 100px;

}

.maincontainor {
  display: flex;
}

.maincontainor .chlidren {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


.chlidren .product p {
  overflow: hidden;
}

.product button {
  padding: px;
  font-size: 15px;
  border-radius: 5px;
  font-weight: bolder;
  background-color: aqua;
}

.cart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.price{
  text-align: center;
  margin-bottom: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.empbtn{
  border-radius: 5px;
  font-weight: bolder;
  background-color: aqua;
}

.quantity-control {
  display: flex;
  align-items: center;
}

.quantity-control button,
.quantity-control input {
  margin: 5px 0;
}

.quantity-control button {
  width: 30px;
  height: 21px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}
.quantity-control button {
  border-radius: 5pc 0 0 5pc;
}
.quantity-control button:last-child{
  border-radius: 0 5pc 5pc 0;
}
.quantity-control input {
  width: 50px;
  text-align: center;
}
