.product-containers {
  border: 1px solid red;
  width: 200px;
  height: 200px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  background-color: #333;
  padding: 1rem;
}

nav ul li {
  color: #fff;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 2rem auto;
}

form input,
form button {
  margin: 0.5rem 0;
  padding: 0.5rem;
}

.product,
.cart-item {
  border: 1px solid #ddd;
  padding: 1rem;
  margin: 1rem;
  height: 299px;
  width: 200px;
  overflow: hidden;
}

.product img {
  width: 100px;
  height: 100px;

}

.maincontainor {
  display: flex;
}

.maincontainor .chlidren {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


.chlidren .product p {
  overflow: hidden;
}

.product button {
  background-color: #a6ff83;
  padding: 4px;
  border-radius: 5px;
  font-size: 15px;
}

.cart-conatainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.cart-page {
  width: 100%;
  justify-content: center;
  display: flex;
  padding: 17px;
  background-color: papayawhip;
  font-size: 21px;
  margin: 18px;
}

.cart-info {
  padding: 17px;
}

.cart-info button {
  background-color: #a6ff83;
  padding: 4px;
  border-radius: 5px;
  font-size: 15px;
}

.cart-conatainer button {
  background-color: #a6ff83;
  padding: 4px;
  border-radius: 5px;
  font-size: 15px;
  margin-bottom: 10px;
}